<html language="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    <title>Projector</title>
    <script src="js/libs/d3.v2.min.js"></script>
    <script src="js/libs/colorbrewer.v1.min.js"></script>
    <script src="js/libs/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/heatmap2.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/heatmap.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">

    <script type="text/javascript" src="js/libs/Three49custom.js"></script>
    <script type="text/javascript" src="js/GLmol.js"></script>
    <script type="text/javascript" src="js/navbar-extra.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
    <script src="js/glapp.js"></script>

<body>
<div class="wrapper">

<div ng-app="glapp" id="ProteinViewController" ng-init="p.update()" ng-controller="ProteinViewController as p">

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Projector</a>
  </div>
  <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="nav-plot"><a href="#" onclick="
            $('#tab-plot').show(); $('#nav-plot').addClass('active');
            $('#tab-about').hide(); $('#nav-about').removeClass('active');">
            Home</a></li>
        <li id="nav-about"><a href="#" onclick="
            $('#tab-about').show(); $('#nav-about').addClass('active');
            $('#tab-plot').hide(); $('#nav-plot').removeClass('active');">
            About</a></li>
        <li><a href="https://github.com/rmcgibbo/projector">Code/Issues</a></li>
      </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Viewer Controls <b class="caret"></b></a>
          <div class="dropdown-menu" id="insertProteinControlsHere">
          </div>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</div>

<div class="container" style="padding-top:10px">  <!-- contents of the central screen -->

<!-- main tab. home page -->
<div id="tab-plot">
    <div id="heatmapContainer">
      <svg ng-mousemove="p.heatmapMouseMove($event)" style="z-index:1" id="heatmapsvg"></svg>
      <canvas style="z-index:0" id="heatmapcanvas"></canvas>
    </div>
    <div id="proteinViewContainer"><div id="proteinView"></div></div>
</div>

<!-- about page -->
<div id="tab-about" style="display:none">
    Help goes here
</div>

</div> <!-- contents of the central screen -->




</div> <!-- glapp -->

</div> <!-- wrapper -->


<footer>
<div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="text-muted credit">
      Author: <a href="http://stanford.edu/~rmcgibbo/">Robert McGibbon</a>.
      &nbsp; Copyright: (c) 2014 Stanford University.
      &nbsp; License: BSD 2-clause.</p>
</div>
</footer>


<!-- <div class="col-md-12 clear-for-footer"></div>
<div class="wrap footer">

</div> -->


</body>
</html>


<!-- ===================================================================== -->
<!-- This will get injected into the DOM inside of the navbar at load. I   -->
<!-- just left it out here for clarity - it get hard to read when nested   -->
<!-- ===================================================================== -->

<div id="proteinControls">
<form class="form-horizontal form-small">
<fieldset>

<!-- Chain Color -->
<div class="form-group">
  <label class="col-md-5 control-label">Color</label>
  <div class="col-md-4">
      <select class="form-control"  class="algnRight" ng-model="p.form.color" ng-options="e.value
           as e.name for e in p.colorOptions"
           ng-change="p.update()" required></select>
  </div>
</div>

<!-- Main Chain -->
<div class="form-group">
  <label class="col-md-4 control-label">Main Chain</label>
  <div class="col-md-4">
<select class="form-control" ng-model="p.form.mainChain" ng-options="e.value
    as e.name for e in p.mainChainOptions"
    ng-change="p.update()" required></select>
  </div>
</div>

<!-- Side Chains -->
<div class="form-group">
  <label class="col-md-4 control-label">Side Chains</label>
  <div class="col-md-4">
<select class="form-control" ng-model="p.form.sideChains" ng-options="e.value
    as e.name for e in p.sideChainsOptions"
    ng-change="p.update()" required></select>
  </div>
</div>

<!-- Nonbonded atoms -->
<div class="form-group">
  <label class="col-md-4 control-label">Nonbonded</label>
  <div class="col-md-4">
<select class="form-control" ng-model="p.form.nonbondedAtoms"
    ng-options="e.value as e.name for e in p.nonbondedAtomsOptions"
    ng-change="p.update()" required></select>
  </div>
</div>

<!-- Heteroatoms -->
<div class="form-group">
  <label class="col-md-4 control-label">Heteroatoms</label>
  <div class="col-md-4">
<select class="form-control" ng-model="p.form.heteroAtoms"
    ng-options="e.value as e.name for e in p.heteroAtomsOptions"
    ng-change="p.update()" required></select>
  </div>
</div>

<!-- Background -->
<div class="form-group">
  <label class="col-md-4 control-label">Background</label>
  <div class="col-md-4">
<select class="form-control" ng-model="p.form.backgroundColor"
    ng-options="e.value as e.name for e in p.backgroundColorOptions"
    ng-change="p.update()" required></select>
  </div>
</div>

<!-- Projection -->
<div class="form-group">
  <label class="col-md-4 control-label">Projection</label>
  <div class="col-md-4">
<select class="form-control" ng-model="p.form.projection"
    ng-options="e.value as e.name for e in p.projectionOptions"
    ng-change="p.update()" required></select>
  </div>
</div>

</fieldset>
</form>

